.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBody {
  position: relative;
  width: 100%;
}

.searchIcon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-text);
}

.searchInput {
  outline: none;
  padding: 12px 40px;
  border-radius: 50px;
  border: 1px solid var(--border);
  box-shadow: 0 1px 2px 0 var(--shadow);
  font-size: 16px;
}

.clearButton {
  all: unset;
  position: absolute;
  right: 16px;
  top: 54%;
  transform: translateY(-50%);
  color: var(--primary-text);
  cursor: pointer;
}
