.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: var(--primary-text);
  height: 55px;
  border-bottom: 1px solid var(--border);
  font-size: 13px;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profileCircle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.headerTitle {
  font-size: 16px;

  p {
    margin: 0;
  }

  span {
    font-weight: bold;
  }
}

.searchInput {
  width: 500px;
  display: flex;
  gap: 10px;
}
