.navbarContainer {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  color: var(--primary-text);
  height: var(--navbar-height);
  border-bottom: 1px solid var(--border);
  font-size: 13px;
  background-color: white;

  @media (max-width: 768px) {
    height: calc(var(--navbar-height) * 1.9);
  }
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 15px;

  @media (max-width: 768px) {
    display: none;
  }
}

.profileCircle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.headerTitle {
  font-size: 16px;

  span {
    font-weight: bold;
  }
}

.searchInput {
  display: flex;
  gap: 10px;

  input {
    width: 800px;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}
