:root {
  --primary-text: rgb(107, 114, 128);
  --border: rgb(229, 231, 235);
  --background: rgb(243, 244, 246);
  --shadow: rgba(0, 0, 0, 0.051);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3 {
  text-wrap: balance;
}
