.wrapper {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  img {
    height: 92px;
    margin-bottom: 24px;
  }

  input {
    width: 582px;
    height: 46px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    & > div {
      width: 100%;
      padding: 0 20px;
    }
  }
}
